body {
    font-family: Helvetica ,Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    background-color: beige;
    width: 60%;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

#temporizador {
    font-size: 48px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

#iniciar {
    background-color: lightgreen;
    border: 1px solid black;
}

#iniciar:hover {
    background-color: rgb(95, 201, 95);
    cursor: pointer;
}

#pausar {
    background-color: rgb(255, 146, 146);
    border: 1px solid black;
}

#pausar:hover {
    background-color: rgb(248, 76, 76);
    cursor: pointer;
}

#resetar {
    background-color: rgb(255, 255, 141);
    border: 1px solid black;
}

#resetar:hover {
    background-color: rgb(250, 250, 88);
    cursor: pointer;
}

